.header_container {
  background-color: rgba(0, 0, 0, 0.2);
  grid-area: header;
  display: grid;
  grid-template-areas: 'logo header';
  grid-template-columns: 150px 1fr;

  .header {
    display: flex;
    justify-content: center;
    grid-area: header;
    align-items: center;
    a{
      color: white;
      margin: 0 10px;
    }
  }
}